<h1>Blogs</h1><br>

  <% @blogs.each do |blog| %>
    <div class="blog_index" id="<%= dom_id(blog) %>">
      <div class="blog_pic">
        <% if blog.photos.any? %>
          <%= link_to image_tag(blog.photos.first.photo.url(:full)), blog %><br>
        <% end %>
      </div>
      <div class="blog_text">
        <p id="blog_name"><%= blog.title %></p>
        <p id="blog_subheading"><%= blog.subheading %></p>
        <p><%= link_to 'Read It!', blog %>
        <% if policy(blog).edit? %>
          <%= link_to 'Edit', edit_blog_path(blog) %>
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>

<div id="new_blog">
  <% if policy(Blog).create? %>
    <%= link_to 'New Blog', new_blog_path %>
  <% end %>
</div>
