<p>
  <strong><%= @blog.title %></strong>
</p>

<p>
  <%= simple_format @blog.body %><br>
</p>

<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @blog.photos.each_with_index do |photo, index| %>
      <% if index == 0 %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="active"></li>
      <% else %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= index %>"></li>
      <% end %>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @blog.photos.each_with_index do |photo, index| %>
      <% if index == 0 %>
        <div class="item active">
          <%= image_tag photo.photo.url(:full) %>
        </div>
      <% else %>
        <div class="item">
          <%= image_tag photo.photo.url(:full) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Controls -->
  <% if @blog.photos.count > 1 %>
    <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  <% end %>

</div>

<div id="blog_controls">
  <% if policy(@blog).update? %>
    <%= link_to 'Add Photo', new_blog_photo_path(@blog) %> |
    <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <% end %>
  <%= link_to 'Back', blogs_path %>
</div>
