<h1>Projects</h1>

<% @projects.each do |project| %>
  <div class="project_index" id="<%= dom_id(project) %>">
    <td><%= image_tag project.photo.url(:thumb) %></td>
    <td id="project_name"><%= project.title %></td><br>
    <% if project.mp3? %>
    <td><%= audio_tag(project.mp3.url, controls: true) %></td>
    <% end %>
    <td><%= link_to 'Show', project %></td>
    <% if policy(project).edit? %>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>

<br>

<% if policy(Project).create? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>
