<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Technologies used</th>
      <th>Body</th>
      <th>Preview</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr id="<%= dom_id(project) %>">
        <td><%= project.title %></td>
        <td><%= project.technologies_used %></td>
        <td><%= project.body %></td>
        <td><%= image_tag project.photo.url(:thumb) %></td>
        <td><%= audio_tag(project.mp3.url, controls: true) %></td>
        <td><%= link_to 'Show', project %></td>
        <% if policy(project).edit? %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(Project).create? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>
