<h1>Projects</h1><br>

<% @projects.each do |project| %>
  <div class="project_index" id="<%= dom_id(project) %>">
    <% if project.photos.any? %>
      <td><%= link_to image_tag(project.photos.first.photo.url(:thumb)), project %></td><br>
    <% else %>
      <td><%= link_to 'Show Project', project %><br>
    <% end %>
    <td id="project_name"><p><%= project.title %></p></td>
    <% if policy(project).edit? %>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </div>
<% end %>
<br>

<div id="new_project">
  <% if policy(Project).create? %>
    <%= link_to 'New Project', new_project_path %>
  <% end %>
</div>
