<h2><%= @project.title %></h2><br>

<div id="project_text">
  <p>
    <strong>Technologies Used:</strong>
    <%= @project.technologies_used %>
  </p>

  <p>
    <strong>About this Project</strong><br>
    <%= simple_format @project.body %>
  </p>

  <p>
    <strong><%= link_to "Link to Project", "http://#{@project.link}" %></strong>
  </p><br>
</div>

<div id="project_content">
  <% @project.photos.each do |photo| %>
    <%= image_tag photo.photo.url(:full) %><br><br>
  <% end %>
</div>

<div id="project_controls">
  <% if policy(@project).update? %>
    <%= link_to 'Add Photo', new_project_photo_path(@project) %> |
    <%= link_to 'Edit', edit_project_path(@project) %> |
  <% end %>
  <%= link_to 'Back', projects_path %>
</div>
