<h2><%= @project.title %></h2><br>

<div id="project_text">
  <p>
    <strong>Technologies used:</strong>
    <%= @project.technologies_used %>
  </p>

  <p>
    <strong>About this project</strong><br>
    <%= @project.body %>
  </p>
</div>

<div id="project_content">
  <%= image_tag @project.photo.url(:full) %><br><br>
  <% if @project.mp3? %>
    <%= audio_tag(@project.mp3.url, controls: true) %><br><br>
  <% end %>
</div>

<div id="project_controls">
  <% if policy(@project).update? %>
    <%= link_to 'Edit', edit_project_path(@project) %> |
  <% end %>
  <%= link_to 'Back', projects_path %>
</div>
